.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .thumbnail-card {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #000000;
    background-color: rgb(93, 242, 105);
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .thumbnail-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .thumbnail-card a {
    text-decoration: none;
    color: #333;
  }
  
  .thumbnail-card iframe {
    display: block;
    width: 100%;
    height: 200px;
    border: none;
  }
  
  .DetailCard{
    text-align: center;
    font-weight: bold;
    font-size: 30px
  }
  